@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: auto 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e7e7e7;
    padding: 30px;
    object-fit: cover;
    display: ruby-base;
}

.container {
    position: relative;
    max-width: 1000px;
    height: 300pt;
    width: 200%;
    background: #e7e7e7;
    padding: 40px 30px;
    box-shadow: 0 5px 10px rgba(102, 19, 19, 0.2);
    perspective: 270000px;
}

.re input[type="text"] {
    width: 50%;
    height: 100px;
    padding: 10px;
    background: transparent;
    border: 1px soild #adadad;
    /* border-radius: 0; */
    margin-bottom: 5px;
    border-radius: 25px;
    font-size: 10px;
}

.re1 input[type="text"] {
    width: 50%;
    height: 50px;
    padding: 10px;
    background: transparent;
    border: 1px soild #adadad;
    /* border-radius: 0; */
    margin-bottom: 5px;
    border-radius: 25px;
    font-size: 10px;
}

.re input[type="file"] {
    width: 50%;
    height: 50px;
    padding: 10px;
    background: transparent;
    border: 1px soild #adadad;
    border-radius: 0;
    margin-bottom: 5px;
    border-radius: 25px;
    font-size: 18px;
}

.button input {
    color: #fff;
    background: #7d2ae8;
    border-radius: 6px;
    padding: 0;
    cursor: pointer;
    transition: all 0.4s ease;
    width: 25%;
    height: 50px;
}